/* YOUR CSS HERE */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Dancing Script", serif;
}

main{
    overflow: hidden;
}

img{
    max-width: 10em;
    max-height: 10em;
    width: auto;
    width: auto;
}

.product-list{
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.product-item{
    margin: 0 0 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    border: 1px solid black;
}

.title{
    margin: .2em;
}

.category{
    margin: .3em;
}

.image-product{
    padding-bottom: .8em;
}

.image-cart{
    width: 2em;
}

.description-product{
    padding-bottom: .5em;
}

.product-container{
    width: 100%;
    padding: .5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
}

.product-container p {
    margin: auto auto;
}

/* cart list */
.items-count{
    margin-top: 1em;
}
.cart-list{
    width: 100%;
    text-align: center;
}

.cart-list-container{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

.cart-item{
    margin: .5em 0;
    list-style: none;
    border: 1px solid black;
    padding: .3em;
    width: 20em;
}

.cart-item-quantity{
    width: 8em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.cart-item-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cart-item img{
    max-width: 15%;
    width: auto;
}

/*footer*/
.footer{
    padding: 0;
    margin: 0;
    background-color: black;
}
.footer div p{
    color: white;
    font-size: 1.5em;
    text-align: center;
    padding: 0;
    margin: 0
}

/*modal*/
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadein 0.5s linear;
    -webkit-animation: fadein 0.5s linear;
    /* The Close Button */
}
.modal.fadeout {
    animation: fadeout 0.5s linear;
    -webkit-animation: fadeout 0.5s linear;
}
.modal .modal-content {
    background-color: #fefefe;
    margin: 15em auto 2em auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    border-radius: 20px;
    -webkit-border-radius: 2;
    -moz-border-radius: 2;
    -ms-border-radius: 2;
    -o-border-radius: 2;
}
.modal .close {
    text-align: center;
    width: 10%;
    margin-left: auto;
}
.modal div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal div .modal-title {
    padding-top: 10px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.modal div .item-image {
    margin: 0 auto;
    padding: 1em 0;
    max-width: 100%;
    width: auto;
}
.modal div .modal-description p{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 1em 1em 1em;
    font-size: 1em;
}
.modal .close {
    margin-top: -0.5em;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background-color: white;
    height: 1.2em;
}
.modal .close:hover, .modal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (min-width: 1200px) {
    .container{
        display: grid;
        grid-template-columns: 1fr repeat(1, 300px);
        justify-content: center;
        gap: 1em;
    }
    .product-list{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1em;
    }
    
    .product-item{
        justify-content: space-around;
        align-content: space-around;
        height: 25em;
        width: 15em;
    }
    .cart-list-container{
        width: 15em;
        margin: 0 auto;
    }
}